<div class="start-screen">
    <div class="card menu-card">
        <p class="text-center mb-4"></p>
        <div class="row justify-content-center">
        <div class="col-md-6">
            <button (click)="startGame()" class="btn btn-primary btn-block mb-4">Play</button>
            <button (click)="playWithComputer()" class="btn btn-secondary btn-block mb-4">Play with Computer</button>
            <select id="difficulty" [(ngModel)]="difficulty" class="form-control form-select mb-4">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
            </select>
            <button (click)="changeTeams()" class="btn btn-info btn-block mb-4">Change Teams</button>
            <button (click)="quitApp()" class="btn btn-danger btn-block mb-4">Quit</button>
        </div>
        </div>
    </div>
    <!-- <div class="card volume-card">
        <label for="volume">Volume:</label>
            <input id="volume" type="range" min="0" max="1" step="0.1" [(ngModel)]="musicVolume" (change)="updateMusicVolume()" />
    </div> -->
    <app-volume-control></app-volume-control>
</div>
  
